In [64]:
import pandas as pd

uses = pd.read_csv('datasets/naeb_dump/uses.csv')
use_subcategory = pd.read_csv('datasets/naeb_dump/use_subcategories.csv')

use_subcategory['name'].nunique()

178

In [105]:
# join uses to use_subcategory by using the use_subcategory in uses as the key to join
merged = uses.merge(use_subcategory, left_on='use_subcategory', right_on='id')

# remove the columns: pageno, use_category, notes, rawsource, parent:
merged = merged.drop(columns=['pageno', 'use_category', 'notes', 'rawsource', 'parent', 'use_subcategory'])

# rename the columns: id_x, id_y, to: use_id, use_subcategory_id
usage = merged.rename(columns={
    'id_x': 'use_id', 
    'id_y': 'use_subcategory_id', 
    'species': 'species_id',
    'tribe': 'tribe_id',
    'source': 'source_id',
}) 

usage[usage['name'] == 'Analgesic']

       use_id  species_id  tribe_id  source_id  use_subcategory_id       name
36         45           2        38          4                   6  Analgesic
69         79           2       138         51                   6  Analgesic
200       214           6        23         26                   6  Analgesic
385       409          20       106         60                   6  Analgesic
576       606          32        32          1                   6  Analgesic
...       ...         ...       ...        ...                 ...        ...
41151   44596        4250       183         12                   6  Analgesic
41165   44610        4251        90         68                   6  Analgesic
41183   44628        4253       159         18                   6  Analgesic
41208   44656        4256       139         21                   6  Analgesic
41221   44669        4258       193         11                   6  Analgesic

[1292 rows x 6 columns]

In [106]:
species = pd.read_csv('datasets/naeb_dump/species.csv')
# drop columns usda_code:
species = species.drop(columns=['usda_code'])
# rename id to species_id
species = species.rename(columns={'id': 'species_id'})
species[species['species_id'] == 20]

,species_id,name,common_names,family,family_apg
19,20,Acamptopappus sphaerocephalus var. hirtellus B...,Rayless Goldenhead,Asteraceae,Asteraceae

In [81]:
sources = pd.read_csv('datasets/naeb_dump/sources.csv')
# drop the columns: fulltext, address, school
sources = sources.drop(columns=['fulltext', 'address', 'school'])
# rename id to source_id
sources = sources.rename(columns={'id': 'source_id'})
sources

,source_id,refcode,type,author,booktitle,comment,edition,editor,journal,month,note,number,pages,publisher,title,url,volume,year
0,1,hc75,book,"Hamel, Paul B. and Mary U. Chiltoskey",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Herald Publishing Co,Cherokee Plants and Their Uses -- A 400 Year H...,NaN,NaN,1975
1,2,ws85,book,"Weber, Steven A. and P. David Seaman",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The University of Arizona Press,Havasupai Habitat: A.F. Whiting's Ethnography ...,NaN,NaN,1985
2,3,g83,phdthesis,"Gill, Steven J.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethnobotany of the Makah and Ozette People,NaN,NaN,1983
3,4,d28,article,"Densmore, Frances",NaN,NaN,NaN,NaN,SI-BAE Annual Report,NaN,NaN,NaN,273-379,NaN,Uses of Plants by the Chippewa Indians,NaN,44,1928
4,5,r54,book,"Romero, John Bruno",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Vantage Press, Inc",The Botanical Lore of the California Indians,NaN,NaN,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,202,b36,article,"Bradley, Will T.",NaN,NaN,NaN,NaN,Journal of the American Pharmaceutical Associa...,NaN,NaN,2.0,138-147,NaN,Medical Practices of the New England Aborigines,NaN,25,1936
202,203,r23,article,"Radin, Paul",NaN,NaN,NaN,NaN,SI-BAE Annual Report,NaN,NaN,NaN,NaN,NaN,The Winnebago Tribe,NaN,37,1923
203,204,w89,article,"Willoughby, C.",NaN,NaN,NaN,NaN,Smithsonian Institution Annual Report for 1886,NaN,NaN,NaN,NaN,NaN,"Indians of the Quinaielt Agency, Washington Te...",NaN,NaN,1889
204,205,p37,book,"Porsild, A. E.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Canada Department of Mines and Resources, Nati...",Edible Roots and Berries of Northern Canada,NaN,NaN,1937
205,206,m40,article,"Mandelbaum, David G.",NaN,NaN,NaN,NaN,Anthropological Papers of the American Museum ...,NaN,NaN,NaN,202-203,NaN,The Plains Cree,NaN,37,1940

In [107]:
np_species = pd.read_csv('datasets/npass/NPASS_taxonomy_species.txt', sep='\t')
np_species[np_species['species_name'] == 'Acamptopappus sphaerocephalus']

,org_id,org_name,org_tax_level,org_tax_id,subspecies_tax_id,subspecies_name,species_tax_id,species_name,genus_tax_id,genus_name,family_tax_id,family_name,kingdom_tax_id,kingdom_name,superkingdom_tax_id,superkingdom_name
24437,NPO7900,Acamptopappus sphaerocephalus,Species,217567,n.a.,n.a.,217567,Acamptopappus sphaerocephalus,217565,Acamptopappus,4210,Asteraceae,33090,Viridiplantae,2759,Eukaryota

In [108]:
np = pd.read_csv('datasets/npass/NPASS_natural_product_species.txt', sep='\t')
np[np['org_id'] == 'NPO7900']

,src_org_pair,org_id,np_id,new_cp_found,org_isolation_part,org_collect_location,org_collect_time,ref_type,ref_id,ref_id_type,ref_url
3539,NPO7900-NPC277421,NPO7900,NPC277421,n.a.,n.a.,n.a.,n.a.,Database,UNPD,Database,n.a.
121068,NPO7900-NPC167504,NPO7900,NPC167504,n.a.,n.a.,n.a.,n.a.,Database,UNPD,Database,n.a.
197929,NPO7900-NPC184054,NPO7900,NPC184054,n.a.,n.a.,n.a.,n.a.,Database,UNPD,Database,n.a.

In [101]:
target_name = pd.read_csv('datasets/npass/NPASS_target_name.txt', sep='\t')
target_name

,target_id,target_type,target_name,target_organism_tax_id,target_organism,uniprot_id
0,NPT1031,Cell Line,Ca9-22,9606,Homo sapiens,NaN
1,NPT1034,Cell Line,Lu1,9606,Homo sapiens,NaN
2,NPT1045,Cell Line,U2OS,9606,Homo sapiens,NaN
3,NPT1059,Cell Line,HMEC,9606,Homo sapiens,NaN
4,NPT1076,Cell Line,B-cells,NaN,NaN,NaN
...,...,...,...,...,...,...
8343,NPT28312,ORGANISM,Ceratobasidium cornigerum,5252,Ceratobasidium cornigerum,n.a.
8344,NPT28313,ORGANISM,Leishmania martiniquensis,1580590,Leishmania martiniquensis,n.a.
8345,NPT28314,ORGANISM,Leishmania orientalis,2249476,Leishmania orientalis,n.a.
8346,NPT28315,ORGANISM,Candida auris,498019,Candida auris,n.a.
8347,NPT28317,SINGLE PROTEIN,ATP-dependent Clp protease ATP-binding subunit...,9606,Homo sapiens,O76031

In [102]:
target_activity = pd.read_csv('datasets/npass/NPASS_targets_activity.txt', sep='\t')
target_activity

/var/folders/kl/77dw97d55y1_kplchw9htctc0000gn/T/ipykernel_37602/3696305198.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  target_activity = pd.read_csv('datasets/npass/NPASS_targets_activity.txt', sep='\t')

,np_id,target_id,activity_type_grouped,activity_relation,activity_type,activity_value,activity_units,assay_organism,assay_tax_id,assay_strain,assay_tissue,assay_cell_type,ref_id,ref_id_type
0,NPC250187,NPT393,IC50,=,IC50,49000.0000,nM,Homo sapiens,9606,n.a.,n.a.,HCT-116,447201,PMID
1,NPC250187,NPT400,IC50,=,IC50,29700.0000,nM,Homo sapiens,9606,n.a.,n.a.,MDA-MB-435,447201,PMID
2,NPC250187,NPT400,Others,=,Ratio IC50,0.6000,n.a.,Homo sapiens,9606,n.a.,n.a.,MDA-MB-435,447201,PMID
3,NPC250187,NPT20,MIC,=,MIC,2500.0000,nM,Candida albicans,5476,n.a.,n.a.,n.a.,447202,PMID
4,NPC250187,NPT312,MIC,=,MIC,2500.0000,nM,Saccharomyces cerevisiae,4932,n.a.,n.a.,n.a.,447202,PMID
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958861,NPC489635,NPT389,IC50,=,IC50,9.7000,nM,Homo sapiens,9606,n.a.,n.a.,RPMI-8226,17243724,PMID
958862,NPC218631,NPT286,Others,=,Inhibition,66.0000,%,n.a.,n.a.,n.a.,n.a.,n.a.,20028027,PMID
958863,NPC218631,NPT165,IC50,=,IC50,30000.0000,nM,Homo sapiens,9606,n.a.,Uterine cervix,HeLa,33387695,PMID
958864,NPC484315,NPT35,IC50,=,IC50,6100.0000,nM,n.a.,n.a.,n.a.,n.a.,n.a.,26934105,PMID
958865,NPC480750,NPT168,ED50,=,ED50,0.0018,ug ml-1,Mus musculus,10090,n.a.,n.a.,P388,26938998,PMID

In [111]:
# merge target_name and target_activity based on target_id:
target = target_name.merge(target_activity, left_on='target_id', right_on='target_id')
target[target['np_id'] == 'NPC167504']

,target_id,target_type,target_name,target_organism_tax_id,target_organism,uniprot_id,np_id,activity_type_grouped,activity_relation,activity_type,activity_value,activity_units,assay_organism,assay_tax_id,assay_strain,assay_tissue,assay_cell_type,ref_id,ref_id_type
770751,NPT963,Organism,Hepatitis B virus,10407,Hepatitis B virus,NaN,NPC167504,IC50,=,IC50,1300000.0,nM,Hepatitis B virus,10407,n.a.,n.a.,n.a.,547064,PMID
770752,NPT963,Organism,Hepatitis B virus,10407,Hepatitis B virus,NaN,NPC167504,IC50,=,IC50,1140000.0,nM,Hepatitis B virus,10407,n.a.,n.a.,n.a.,547064,PMID
770753,NPT963,Organism,Hepatitis B virus,10407,Hepatitis B virus,NaN,NPC167504,IC50,=,IC50,760000.0,nM,Hepatitis B virus,10407,n.a.,n.a.,n.a.,547064,PMID
809556,NPT2,Others,Unspecified,NaN,NaN,NaN,NPC167504,Others,=,Ratio CC50/IC50,1.4,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,547064,PMID
809557,NPT2,Others,Unspecified,NaN,NaN,NaN,NPC167504,Others,=,Ratio CC50/IC50,1.5,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,547064,PMID
809558,NPT2,Others,Unspecified,NaN,NaN,NaN,NPC167504,Others,=,Ratio CC50/IC50,2.3,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,547064,PMID
860204,NPT27,Others,Unspecified,NaN,NaN,NaN,NPC167504,Others,=,CC50,1760000.0,nM,Homo sapiens,9606,n.a.,n.a.,HepG2 2.2.15,547064,PMID

In [115]:
compound = pd.read_csv('datasets/npass/NPASS_compound_names.txt', sep='\t')
compound[compound['np_id'] == 'NPC167504']

,np_id,pref_name,iupac_name,chembl_id,pubchem_cid,num_of_organism,num_of_target,num_of_activity,if_has_Quantity
15998,NPC167504,Erythrocentaurin,"1-oxo-3,4-dihydroisochromene-5-carbaldehyde",CHEMBL3397161,191120,6.0,3.0,7.0,No

# Chembl Database

In [124]:
import chembl_downloader

sql = """
SELECT * FROM CHEMBL_ID_LOOKUP
"""

chembl_lookup = chembl_downloader.query(sql)

In [127]:
sql = """
SELECT * FROM COMPOUND_RECORDS
"""

compound_records = chembl_downloader.query(sql)

In [128]:
sql = """
SELECT * FROM TARGET_DICTIONARY
"""

target_records = chembl_downloader.query(sql)

In [129]:
sql = """
SELECT * FROM DOCS
"""

docs = chembl_downloader.query(sql)

In [121]:
path = chembl_downloader.download_extract_sqlite()
path

PosixPath('/Users/aymanehachcham/.data/chembl/34/data/chembl_34/chembl_34_sqlite/chembl_34.db')

In [134]:
chembl_lookup

            chembl_id entity_type  entity_id  status  last_active
0             CHEMBL1    COMPOUND     517180  ACTIVE         34.0
1            CHEMBL10    COMPOUND        250  ACTIVE         34.0
2           CHEMBL100    COMPOUND      12356  ACTIVE         34.0
3          CHEMBL1000    COMPOUND     111185  ACTIVE         34.0
4         CHEMBL10000    COMPOUND       7079  ACTIVE         34.0
...               ...         ...        ...     ...          ...
4640246  CHEMBL999995       ASSAY     551200  ACTIVE         34.0
4640247  CHEMBL999996       ASSAY     551201  ACTIVE         34.0
4640248  CHEMBL999997       ASSAY     551202  ACTIVE         34.0
4640249  CHEMBL999998       ASSAY     551203  ACTIVE         34.0
4640250  CHEMBL999999       ASSAY     551204  ACTIVE         34.0

[4640251 rows x 5 columns]

In [133]:
compound_records[compound_records['molregno'] == 1828878]

,record_id,molregno,doc_id,compound_key,compound_name,src_id,src_compound_id,cidx
1748790,2278959,1828878,91049,ET,erythrocentaurin,1,785798,CLD0

# CREATE the Database

In [135]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///datasets/data_model.db', echo=True)

In [136]:
# storing the dataframes into the database
species.to_sql('species', con=engine, if_exists='replace', index=False)
sources.to_sql('sources', con=engine, if_exists='replace', index=False)
usage.to_sql('usage', con=engine, if_exists='replace', index=False)
np_species.to_sql('np_species', con=engine, if_exists='replace', index=False)
np.to_sql('np', con=engine, if_exists='replace', index=False)
target.to_sql('target', con=engine, if_exists='replace', index=False)

2024-06-07 21:41:47,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:47,922 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("species")
2024-06-07 21:41:47,923 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,925 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("species")
2024-06-07 21:41:47,925 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,938 INFO sqlalchemy.engine.Engine
CREATE TABLE species (
	species_id BIGINT,
	name TEXT,
	common_names TEXT,
	family TEXT,
	family_apg TEXT
)


2024-06-07 21:41:47,938 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
2024-06-07 21:41:47,951 INFO sqlalchemy.engine.Engine INSERT INTO species (species_id, name, common_names, family, family_apg) VALUES (?, ?, ?, ?, ?)
2024-06-07 21:41:47,951 INFO sqlalchemy.engine.Engine [generated in 0.00669s] [(1, 'Abies amabilis (Dougl. ex Loud.) Dougl. ex Forbes', 'Pacific Silver Fir', 'Pinaceae', 'Pinaceae'), (2, 'Abies balsamea (L.) P. Mill.', 'Balsam Fir', 'Pinaceae', 'Pinaceae'), (3, 'Abies concolor (Gord. & Glend.) Lindl. ex Hildebr.', 'White Fir', 'Pinaceae', 'Pinaceae'), (4, 'Abies fraseri (Pursh) Poir.', "Fraser's Fir", 'Pinaceae', 'Pinaceae'), (5, 'Abies grandis (Dougl. ex D. Don) Lindl.', 'Grand Fir', 'Pinaceae', 'Pinaceae'), (6, 'Abies lasiocarpa (Hook.) Nutt.', 'Subalpine Fir', 'Pinaceae', 'Pinaceae'), (7, 'Abies procera Rehd.', 'Noble Fir', 'Pinaceae', 'Pinaceae'), (8, 'Abies sp.', 'Balsam Fir', 'Pinaceae', 'Pinaceae')  ... displaying 10 of 4260 total bound parameter sets ...  (4259, 'Ziziphus parryi Torr.', "Parry's Jujube", 'Rhamnaceae', 'Rhamnaceae'), (4260, 'Zostera marina L.', 'Seawrack', 'Zosteraceae', 'Zosteraceae')]
2024-06-07 21:41:47,956 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:47,958 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:47,959 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sources")
2024-06-07 21:41:47,960 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,960 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("sources")
2024-06-07 21:41:47,961 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,962 INFO sqlalchemy.engine.Engine
CREATE TABLE sources (
	source_id BIGINT,
	refcode TEXT,
	type TEXT,
	author TEXT,
	booktitle TEXT,
	comment TEXT,
	edition TEXT,
	editor TEXT,
	journal TEXT,
	month TEXT,
	note TEXT,
	number FLOAT,
	pages TEXT,
	publisher TEXT,
	title TEXT,
	url TEXT,
	volume TEXT,
	year BIGINT
)


2024-06-07 21:41:47,962 INFO sqlalchemy.engine.Engine [no key 0.00026s] ()
2024-06-07 21:41:47,965 INFO sqlalchemy.engine.Engine INSERT INTO sources (source_id, refcode, type, author, booktitle, comment, edition, editor, journal, month, note, number, pages, publisher, title, url, volume, year) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 21:41:47,966 INFO sqlalchemy.engine.Engine [generated in 0.00141s] [(1, 'hc75', 'book', 'Hamel, Paul B. and Mary U. Chiltoskey', None, None, None, None, None, None, None, None, None, 'Herald Publishing Co', 'Cherokee Plants and Their Uses -- A 400 Year History', None, None, 1975), (2, 'ws85', 'book', 'Weber, Steven A. and P. David Seaman', None, None, None, None, None, None, None, None, None, 'The University of Arizona Press', "Havasupai Habitat: A.F. Whiting's Ethnography of a Traditional Indian Culture", None, None, 1985), (3, 'g83', 'phdthesis', 'Gill, Steven J.', None, None, None, None, None, None, None, None, None, None, 'Ethnobotany of the Makah and Ozette People', None, None, 1983), (4, 'd28', 'article', 'Densmore, Frances', None, None, None, None, 'SI-BAE Annual Report', None, None, None, '273-379', None, 'Uses of Plants by the Chippewa Indians', None, '44', 1928), (5, 'r54', 'book', 'Romero, John Bruno', None, None, None, None, None, None, None, None, None, 'Vantage Press, Inc', 'The Botanical Lore of the California Indians', None, None, 1954), (6, 's15', 'article', 'Stevenson, Matilda Coxe', None, None, None, None, 'SI-BAE Annual Report', None, None, None, None, None, 'Ethnobotany of the Zuni Indians', None, '30', 1915), (7, 'h77', 'phdthesis', 'Herrick, James William', None, None, None, None, None, None, None, None, None, None, 'Iroquois Medical Botany', None, None, 1977), (8, 'r28', 'article', 'Reagan, Albert B.', None, None, None, None, 'Wisconsin Archeologist', None, None, 4.0, '230-248', None, 'Plants Used by the Bois Fort Chippewa (Ojibwa) Indians of Minnesota', None, '7', 1928)  ... displaying 10 of 206 total bound parameter sets ...  (205, 'p37', 'book', 'Porsild, A. E.', None, None, None, None, None, None, None, None, None, 'Canada Department of Mines and Resources, National Museum of Canada', 'Edible Roots and Berries of Northern Canada', None, None, 1937), (206, 'm40', 'article', 'Mandelbaum, David G.', None, None, None, None, 'Anthropological Papers of the American Museum of Natural History', None, None, None, '202-203', None, 'The Plains Cree', None, '37', 1940)]
2024-06-07 21:41:47,968 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:47,969 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:47,973 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usage")
2024-06-07 21:41:47,974 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,974 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("usage")
2024-06-07 21:41:47,975 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,975 INFO sqlalchemy.engine.Engine
CREATE TABLE usage (
	use_id BIGINT,
	species_id BIGINT,
	tribe_id BIGINT,
	source_id BIGINT,
	use_subcategory_id BIGINT,
	name TEXT
)


2024-06-07 21:41:47,975 INFO sqlalchemy.engine.Engine [no key 0.00023s] ()
2024-06-07 21:41:48,074 INFO sqlalchemy.engine.Engine INSERT INTO usage (use_id, species_id, tribe_id, source_id, use_subcategory_id, name) VALUES (?, ?, ?, ?, ?, ?)
2024-06-07 21:41:48,074 INFO sqlalchemy.engine.Engine [generated in 0.07254s] [(1, 1, 21, 53, 25, 'Eye Medicine'), (2, 1, 21, 53, 14, 'Gastrointestinal Aid'), (3, 1, 21, 53, 123, 'Throat Aid'), (4, 1, 21, 53, 49, 'Tuberculosis Remedy'), (5, 1, 86, 166, 69, 'Tonic'), (8, 1, 86, 14, 30, 'Ceremonial Items'), (9, 1, 87, 14, 51, 'Snow Gear'), (10, 1, 88, 14, 14, 'Gastrointestinal Aid')  ... displaying 10 of 41238 total bound parameter sets ...  (44689, 4260, 166, 101, 28, 'Hunting & Fishing Item'), (44691, 4260, 215, 23, 86, 'Spice')]
2024-06-07 21:41:48,105 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:48,112 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:48,136 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("np_species")
2024-06-07 21:41:48,136 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:48,137 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("np_species")
2024-06-07 21:41:48,137 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:48,138 INFO sqlalchemy.engine.Engine
CREATE TABLE np_species (
	org_id TEXT,
	org_name TEXT,
	org_tax_level TEXT,
	org_tax_id TEXT,
	subspecies_tax_id TEXT,
	subspecies_name TEXT,
	species_tax_id TEXT,
	species_name TEXT,
	genus_tax_id TEXT,
	genus_name TEXT,
	family_tax_id TEXT,
	family_name TEXT,
	kingdom_tax_id TEXT,
	kingdom_name TEXT,
	superkingdom_tax_id TEXT,
	superkingdom_name TEXT
)


2024-06-07 21:41:48,139 INFO sqlalchemy.engine.Engine [no key 0.00036s] ()
2024-06-07 21:41:48,266 INFO sqlalchemy.engine.Engine INSERT INTO np_species (org_id, org_name, org_tax_level, org_tax_id, subspecies_tax_id, subspecies_name, species_tax_id, species_name, genus_tax_id, genus_name, family_tax_id, family_name, kingdom_tax_id, kingdom_name, superkingdom_tax_id, superkingdom_name) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 21:41:48,266 INFO sqlalchemy.engine.Engine [generated in 0.09395s] [('NPO10475', 'Falkenbergia rufolanosa', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.'), ('NPO2250', 'Hylocomium splendens', 'Species', '53007', 'n.a.', 'n.a.', '53007', 'Hylocomium splendens', '53006', 'Hylocomium', '28466', 'Hylocomiaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota'), ('NPO21185', 'Manica rubida', 'Species', '219785', 'n.a.', 'n.a.', '219785', 'Manica rubida', '219784', 'Manica', '36668', 'Formicidae', '33208', 'Metazoa', '2759', 'Eukaryota'), ('NPO13272', 'Ulva lactuca', 'Species', '63410', 'n.a.', 'n.a.', '63410', 'Ulva lactuca', '3118', 'Ulva', '3114', 'Ulvaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota'), ('NPO9728', 'Quercus acuta', 'Species', '157796', 'n.a.', 'n.a.', '157796', 'Quercus acuta', '3511', 'Quercus', '3503', 'Fagaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota'), ('NPO24443', 'Artemisia baldshuanica', 'Species', '1287601', 'n.a.', 'n.a.', '1287601', 'Artemisia baldshuanica', '4219', 'Artemisia', '4210', 'Asteraceae', '33090', 'Viridiplantae', '2759', 'Eukaryota'), ('NPO32957', 'Acanthodendrilla sp.', 'Species', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', '558782', 'Acanthodendrilla', '283990', 'Dictyodendrillidae', '33208', 'Metazoa', '2759', 'Eukaryota'), ('NPO24350', 'Hammarbya paludosa', 'Species', '1155243', 'n.a.', 'n.a.', '1155243', 'Hammarbya paludosa', '1155242', 'Hammarbya', '4747', 'Orchidaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota')  ... displaying 10 of 25898 total bound parameter sets ...  ('NPO8723', 'Ophiostoma piliferum', 'Species', '38032', 'n.a.', 'n.a.', '38032', 'Ophiostoma piliferum', '5159', 'Ophiostoma', '5152', 'Ophiostomataceae', '4751', 'Fungi', '2759', 'Eukaryota'), ('NPO21631', 'Faramea salicifolia', 'Species', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', '58420', 'Faramea', '24966', 'Rubiaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota')]
2024-06-07 21:41:48,319 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:48,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:48,723 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("np")
2024-06-07 21:41:48,724 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:48,725 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("np")
2024-06-07 21:41:48,726 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:48,727 INFO sqlalchemy.engine.Engine
CREATE TABLE np (
	src_org_pair TEXT,
	org_id TEXT,
	np_id TEXT,
	new_cp_found TEXT,
	org_isolation_part TEXT,
	org_collect_location TEXT,
	org_collect_time TEXT,
	ref_type TEXT,
	ref_id TEXT,
	ref_id_type TEXT,
	ref_url TEXT
)


2024-06-07 21:41:48,727 INFO sqlalchemy.engine.Engine [no key 0.00026s] ()
2024-06-07 21:41:52,948 INFO sqlalchemy.engine.Engine INSERT INTO np (src_org_pair, org_id, np_id, new_cp_found, org_isolation_part, org_collect_location, org_collect_time, ref_type, ref_id, ref_id_type, ref_url) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 21:41:52,949 INFO sqlalchemy.engine.Engine [generated in 3.26638s] [('NPO27288-NPC251357', 'NPO27288', 'NPC251357', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'TM-MC', 'Database', 'n.a.'), ('NPO8589-NPC116013', 'NPO8589', 'NPC116013', 'N', 'n.a.', 'Tsukuba, Japan', '1998-JUN', 'Publication', '12381108', 'PMID', 'https://pubmed.ncbi.nlm.nih.gov/12381108'), ('NPO14625-NPC39', 'NPO14625', 'NPC39', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.'), ('NPO16590-NPC190457', 'NPO16590', 'NPC190457', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.'), ('NPO6861-NPC13143', 'NPO6861', 'NPC13143', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.'), ('NPO24757-NPC473714', 'NPO24757', 'NPC473714', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Publication', '18442289', 'PMID', 'https://pubmed.ncbi.nlm.nih.gov/18442289'), ('NPO9576-NPC254190', 'NPO9576', 'NPC254190', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.'), ('NPO22028-NPC242417', 'NPO22028', 'NPC242417', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.')  ... displaying 10 of 898576 total bound parameter sets ...  ('NPO7576.2-NPC301950', 'NPO7576.2', 'NPC301950', 'No', 'n.a.', 'n.a.', 'n.a.', 'Publication', '18460139', 'PMID', 'https://pubmed.ncbi.nlm.nih.gov/18460139'), ('NPO7576.2-NPC50898', 'NPO7576.2', 'NPC50898', 'No', 'n.a.', 'n.a.', 'n.a.', 'Publication', '18460139', 'PMID', 'https://pubmed.ncbi.nlm.nih.gov/18460139')]
2024-06-07 21:41:54,659 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:54,673 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:54,852 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("target")
2024-06-07 21:41:54,852 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:54,853 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("target")
2024-06-07 21:41:54,853 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:54,854 INFO sqlalchemy.engine.Engine
CREATE TABLE target (
	target_id TEXT,
	target_type TEXT,
	target_name TEXT,
	target_organism_tax_id TEXT,
	target_organism TEXT,
	uniprot_id TEXT,
	np_id TEXT,
	activity_type_grouped TEXT,
	activity_relation TEXT,
	activity_type TEXT,
	activity_value FLOAT,
	activity_units TEXT,
	assay_organism TEXT,
	assay_tax_id TEXT,
	assay_strain TEXT,
	assay_tissue TEXT,
	assay_cell_type TEXT,
	ref_id TEXT,
	ref_id_type TEXT
)


2024-06-07 21:41:54,855 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2024-06-07 21:42:01,110 INFO sqlalchemy.engine.Engine INSERT INTO target (target_id, target_type, target_name, target_organism_tax_id, target_organism, uniprot_id, np_id, activity_type_grouped, activity_relation, activity_type, activity_value, activity_units, assay_organism, assay_tax_id, assay_strain, assay_tissue, assay_cell_type, ref_id, ref_id_type) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 21:42:01,111 INFO sqlalchemy.engine.Engine [generated in 4.92934s] [('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC170286', 'IC50', '=', 'IC50', 1.2, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 448657, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC277288', 'IC50', '=', 'IC50', 16.48, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 453277, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC243728', 'IC50', '>', 'IC50', 20.0, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 453516, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC192744', 'IC50', '=', 'IC50', 14.47, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 453792, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC267691', 'IC50', '=', 'IC50', 18.04, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 454286, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC246913', 'IC50', '=', 'IC50', 20.0, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 456132, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC75844', 'Others', '=', 'CC50', 262000.0, 'nM', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 458080, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC272223', 'IC50', '=', 'IC50', 11000.0, 'nM', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 458270, 'PMID')  ... displaying 10 of 965367 total bound parameter sets ...  ('NPT28315', 'ORGANISM', 'Candida auris', '498019', 'Candida auris', 'n.a.', 'NPC331129', 'MIC', '>', 'MIC', 0.064, 'ug.mL-1', 'Candida auris', '498019', 'CBS 12766', 'n.a.', 'n.a.', '33335669', 'PMID'), ('NPT28317', 'SINGLE PROTEIN', 'ATP-dependent Clp protease ATP-binding subunit clpX-like, mitochondrial', '9606', 'Homo sapiens', 'O76031', 'NPC20302', 'IC50', '=', 'IC50', 9500.0, 'nM', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'n.a.', '575308', 'PMID')]
2024-06-07 21:42:03,577 INFO sqlalchemy.engine.Engine COMMIT

965367

In [139]:
# Query the database

sql = """
SELECT * FROM usage
"""

pd.read_sql(sql, con=engine)

2024-06-07 21:43:41,580 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:43:41,583 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
SELECT * FROM usage
")
2024-06-07 21:43:41,584 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:43:41,588 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
SELECT * FROM usage
")
2024-06-07 21:43:41,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:43:41,590 INFO sqlalchemy.engine.Engine
SELECT * FROM usage

2024-06-07 21:43:41,592 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:43:41,724 INFO sqlalchemy.engine.Engine ROLLBACK

,use_id,species_id,tribe_id,source_id,use_subcategory_id,name
0,1,1,21,53,25,Eye Medicine
1,2,1,21,53,14,Gastrointestinal Aid
2,3,1,21,53,123,Throat Aid
3,4,1,21,53,49,Tuberculosis Remedy
4,5,1,86,166,69,Tonic
...,...,...,...,...,...,...
41233,44682,4260,92,41,5,Forage
41234,44685,4260,92,41,28,Hunting & Fishing Item
41235,44686,4260,122,63,47,Special Food
41236,44689,4260,166,101,28,Hunting & Fishing Item
41237,44691,4260,215,23,86,Spice