In [1]:
import pandas as pd

uses = pd.read_csv('datasets/naeb_dump/uses.csv')
use_subcategory = pd.read_csv('datasets/naeb_dump/use_subcategories.csv')

use_subcategory['name'].nunique()

178

In [164]:
# join uses to use_subcategory by using the use_subcategory in uses as the key to join
merged = uses.merge(use_subcategory, left_on='use_subcategory', right_on='id')

# remove the columns: pageno, use_category, notes, rawsource, parent:
merged = merged.drop(columns=['pageno', 'use_category', 'notes', 'rawsource', 'parent', 'use_subcategory'])

# rename the columns: id_x, id_y, to: use_id, use_subcategory_id
usage = merged.rename(columns={
    'id_x': 'use_id', 
    'id_y': 'use_subcategory_id', 
    'species': 'species_id',
    'tribe': 'tribe_id',
    'source': 'source_id',
}) 

usage[usage['name'] == 'Analgesic']

       use_id  species_id  tribe_id  source_id  use_subcategory_id       name
36         45           2        38          4                   6  Analgesic
69         79           2       138         51                   6  Analgesic
200       214           6        23         26                   6  Analgesic
385       409          20       106         60                   6  Analgesic
576       606          32        32          1                   6  Analgesic
...       ...         ...       ...        ...                 ...        ...
41151   44596        4250       183         12                   6  Analgesic
41165   44610        4251        90         68                   6  Analgesic
41183   44628        4253       159         18                   6  Analgesic
41208   44656        4256       139         21                   6  Analgesic
41221   44669        4258       193         11                   6  Analgesic

[1292 rows x 6 columns]

In [165]:
species = pd.read_csv('datasets/naeb_dump/species.csv')
# drop columns usda_code:
species = species.drop(columns=['usda_code'])
# rename id to species_id
species = species.rename(columns={'id': 'species_id'})
# in the column name, take only the first 2 words in each row:
species['name'] = species['name'].apply(lambda x: ' '.join(x.split()[:2]))

species

,species_id,name,common_names,family,family_apg
0,1,Abies amabilis,Pacific Silver Fir,Pinaceae,Pinaceae
1,2,Abies balsamea,Balsam Fir,Pinaceae,Pinaceae
2,3,Abies concolor,White Fir,Pinaceae,Pinaceae
3,4,Abies fraseri,Fraser's Fir,Pinaceae,Pinaceae
4,5,Abies grandis,Grand Fir,Pinaceae,Pinaceae
...,...,...,...,...,...
4255,4256,Zizia aurea,Golden Zizia,Apiaceae,Apiaceae
4256,4257,Ziziphus obtusifolia,Lotebush,Rhamnaceae,Rhamnaceae
4257,4258,Ziziphus obtusifolia,Lotebush,Rhamnaceae,Rhamnaceae
4258,4259,Ziziphus parryi,Parry's Jujube,Rhamnaceae,Rhamnaceae
4259,4260,Zostera marina,Seawrack,Zosteraceae,Zosteraceae

In [81]:
sources = pd.read_csv('datasets/naeb_dump/sources.csv')
# drop the columns: fulltext, address, school
sources = sources.drop(columns=['fulltext', 'address', 'school'])
# rename id to source_id
sources = sources.rename(columns={'id': 'source_id'})
sources

,source_id,refcode,type,author,booktitle,comment,edition,editor,journal,month,note,number,pages,publisher,title,url,volume,year
0,1,hc75,book,"Hamel, Paul B. and Mary U. Chiltoskey",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Herald Publishing Co,Cherokee Plants and Their Uses -- A 400 Year H...,NaN,NaN,1975
1,2,ws85,book,"Weber, Steven A. and P. David Seaman",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The University of Arizona Press,Havasupai Habitat: A.F. Whiting's Ethnography ...,NaN,NaN,1985
2,3,g83,phdthesis,"Gill, Steven J.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethnobotany of the Makah and Ozette People,NaN,NaN,1983
3,4,d28,article,"Densmore, Frances",NaN,NaN,NaN,NaN,SI-BAE Annual Report,NaN,NaN,NaN,273-379,NaN,Uses of Plants by the Chippewa Indians,NaN,44,1928
4,5,r54,book,"Romero, John Bruno",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Vantage Press, Inc",The Botanical Lore of the California Indians,NaN,NaN,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,202,b36,article,"Bradley, Will T.",NaN,NaN,NaN,NaN,Journal of the American Pharmaceutical Associa...,NaN,NaN,2.0,138-147,NaN,Medical Practices of the New England Aborigines,NaN,25,1936
202,203,r23,article,"Radin, Paul",NaN,NaN,NaN,NaN,SI-BAE Annual Report,NaN,NaN,NaN,NaN,NaN,The Winnebago Tribe,NaN,37,1923
203,204,w89,article,"Willoughby, C.",NaN,NaN,NaN,NaN,Smithsonian Institution Annual Report for 1886,NaN,NaN,NaN,NaN,NaN,"Indians of the Quinaielt Agency, Washington Te...",NaN,NaN,1889
204,205,p37,book,"Porsild, A. E.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Canada Department of Mines and Resources, Nati...",Edible Roots and Berries of Northern Canada,NaN,NaN,1937
205,206,m40,article,"Mandelbaum, David G.",NaN,NaN,NaN,NaN,Anthropological Papers of the American Museum ...,NaN,NaN,NaN,202-203,NaN,The Plains Cree,NaN,37,1940

In [161]:
np_species = pd.read_csv('datasets/npass/NPASS_taxonomy_species.txt', sep='\t')
np_species

,org_id,org_name,org_tax_level,org_tax_id,subspecies_tax_id,subspecies_name,species_tax_id,species_name,genus_tax_id,genus_name,family_tax_id,family_name,kingdom_tax_id,kingdom_name,superkingdom_tax_id,superkingdom_name
0,NPO10475,Falkenbergia rufolanosa,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
1,NPO2250,Hylocomium splendens,Species,53007,n.a.,n.a.,53007,Hylocomium splendens,53006,Hylocomium,28466,Hylocomiaceae,33090,Viridiplantae,2759,Eukaryota
2,NPO21185,Manica rubida,Species,219785,n.a.,n.a.,219785,Manica rubida,219784,Manica,36668,Formicidae,33208,Metazoa,2759,Eukaryota
3,NPO13272,Ulva lactuca,Species,63410,n.a.,n.a.,63410,Ulva lactuca,3118,Ulva,3114,Ulvaceae,33090,Viridiplantae,2759,Eukaryota
4,NPO9728,Quercus acuta,Species,157796,n.a.,n.a.,157796,Quercus acuta,3511,Quercus,3503,Fagaceae,33090,Viridiplantae,2759,Eukaryota
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25893,NPO8650.3,Perilla frutescens (l.) britt. var. crispa (th...,Varieties,n.a.,n.a.,perilla frutescens (l.) britt. var. acuta (thu...,48386,Perilla frutescens,48385,Perilla,4136,Lamiaceae,33090,Viridiplantae,2759,Eukaryota
25894,NPO25964,Amsinckia lycopsoides,Species,1212517,n.a.,n.a.,1212517,Amsinckia lycopsoides,255583,Amsinckia,21571,Boraginaceae,33090,Viridiplantae,2759,Eukaryota
25895,NPO23989,Cyclamen neapolitanum,Species,n.a.,n.a.,n.a.,n.a.,n.a.,59973,Cyclamen,4335,Primulaceae,33090,Viridiplantae,2759,Eukaryota
25896,NPO8723,Ophiostoma piliferum,Species,38032,n.a.,n.a.,38032,Ophiostoma piliferum,5159,Ophiostoma,5152,Ophiostomataceae,4751,Fungi,2759,Eukaryota
25897,NPO21631,Faramea salicifolia,Species,n.a.,n.a.,n.a.,n.a.,n.a.,58420,Faramea,24966,Rubiaceae,33090,Viridiplantae,2759,Eukaryota

In [162]:
np = pd.read_csv('datasets/npass/NPASS_natural_product_species.txt', sep='\t')
np

,src_org_pair,org_id,np_id,new_cp_found,org_isolation_part,org_collect_location,org_collect_time,ref_type,ref_id,ref_id_type,ref_url
0,NPO27288-NPC251357,NPO27288,NPC251357,n.a.,n.a.,n.a.,n.a.,Database,TM-MC,Database,n.a.
1,NPO8589-NPC116013,NPO8589,NPC116013,N,n.a.,"Tsukuba, Japan",1998-JUN,Publication,12381108,PMID,https://pubmed.ncbi.nlm.nih.gov/12381108
2,NPO14625-NPC39,NPO14625,NPC39,n.a.,n.a.,n.a.,n.a.,Database,UNPD,Database,n.a.
3,NPO16590-NPC190457,NPO16590,NPC190457,n.a.,n.a.,n.a.,n.a.,Database,UNPD,Database,n.a.
4,NPO6861-NPC13143,NPO6861,NPC13143,n.a.,n.a.,n.a.,n.a.,Database,UNPD,Database,n.a.
...,...,...,...,...,...,...,...,...,...,...,...
898571,NPO7576.2-NPC491368,NPO7576.2,NPC491368,No,n.a.,n.a.,n.a.,Publication,18460139,PMID,https://pubmed.ncbi.nlm.nih.gov/18460139
898572,NPO7576.2-NPC491377,NPO7576.2,NPC491377,No,n.a.,n.a.,n.a.,Publication,18460139,PMID,https://pubmed.ncbi.nlm.nih.gov/18460139
898573,NPO7576.2-NPC20791,NPO7576.2,NPC20791,No,n.a.,n.a.,n.a.,Publication,18460139,PMID,https://pubmed.ncbi.nlm.nih.gov/18460139
898574,NPO7576.2-NPC301950,NPO7576.2,NPC301950,No,n.a.,n.a.,n.a.,Publication,18460139,PMID,https://pubmed.ncbi.nlm.nih.gov/18460139
898575,NPO7576.2-NPC50898,NPO7576.2,NPC50898,No,n.a.,n.a.,n.a.,Publication,18460139,PMID,https://pubmed.ncbi.nlm.nih.gov/18460139

In [101]:
target_name = pd.read_csv('datasets/npass/NPASS_target_name.txt', sep='\t')
target_name

,target_id,target_type,target_name,target_organism_tax_id,target_organism,uniprot_id
0,NPT1031,Cell Line,Ca9-22,9606,Homo sapiens,NaN
1,NPT1034,Cell Line,Lu1,9606,Homo sapiens,NaN
2,NPT1045,Cell Line,U2OS,9606,Homo sapiens,NaN
3,NPT1059,Cell Line,HMEC,9606,Homo sapiens,NaN
4,NPT1076,Cell Line,B-cells,NaN,NaN,NaN
...,...,...,...,...,...,...
8343,NPT28312,ORGANISM,Ceratobasidium cornigerum,5252,Ceratobasidium cornigerum,n.a.
8344,NPT28313,ORGANISM,Leishmania martiniquensis,1580590,Leishmania martiniquensis,n.a.
8345,NPT28314,ORGANISM,Leishmania orientalis,2249476,Leishmania orientalis,n.a.
8346,NPT28315,ORGANISM,Candida auris,498019,Candida auris,n.a.
8347,NPT28317,SINGLE PROTEIN,ATP-dependent Clp protease ATP-binding subunit...,9606,Homo sapiens,O76031

In [102]:
target_activity = pd.read_csv('datasets/npass/NPASS_targets_activity.txt', sep='\t')
target_activity

/var/folders/kl/77dw97d55y1_kplchw9htctc0000gn/T/ipykernel_37602/3696305198.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  target_activity = pd.read_csv('datasets/npass/NPASS_targets_activity.txt', sep='\t')

,np_id,target_id,activity_type_grouped,activity_relation,activity_type,activity_value,activity_units,assay_organism,assay_tax_id,assay_strain,assay_tissue,assay_cell_type,ref_id,ref_id_type
0,NPC250187,NPT393,IC50,=,IC50,49000.0000,nM,Homo sapiens,9606,n.a.,n.a.,HCT-116,447201,PMID
1,NPC250187,NPT400,IC50,=,IC50,29700.0000,nM,Homo sapiens,9606,n.a.,n.a.,MDA-MB-435,447201,PMID
2,NPC250187,NPT400,Others,=,Ratio IC50,0.6000,n.a.,Homo sapiens,9606,n.a.,n.a.,MDA-MB-435,447201,PMID
3,NPC250187,NPT20,MIC,=,MIC,2500.0000,nM,Candida albicans,5476,n.a.,n.a.,n.a.,447202,PMID
4,NPC250187,NPT312,MIC,=,MIC,2500.0000,nM,Saccharomyces cerevisiae,4932,n.a.,n.a.,n.a.,447202,PMID
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958861,NPC489635,NPT389,IC50,=,IC50,9.7000,nM,Homo sapiens,9606,n.a.,n.a.,RPMI-8226,17243724,PMID
958862,NPC218631,NPT286,Others,=,Inhibition,66.0000,%,n.a.,n.a.,n.a.,n.a.,n.a.,20028027,PMID
958863,NPC218631,NPT165,IC50,=,IC50,30000.0000,nM,Homo sapiens,9606,n.a.,Uterine cervix,HeLa,33387695,PMID
958864,NPC484315,NPT35,IC50,=,IC50,6100.0000,nM,n.a.,n.a.,n.a.,n.a.,n.a.,26934105,PMID
958865,NPC480750,NPT168,ED50,=,ED50,0.0018,ug ml-1,Mus musculus,10090,n.a.,n.a.,P388,26938998,PMID

In [111]:
# merge target_name and target_activity based on target_id:
target = target_name.merge(target_activity, left_on='target_id', right_on='target_id')
target[target['np_id'] == 'NPC167504']

,target_id,target_type,target_name,target_organism_tax_id,target_organism,uniprot_id,np_id,activity_type_grouped,activity_relation,activity_type,activity_value,activity_units,assay_organism,assay_tax_id,assay_strain,assay_tissue,assay_cell_type,ref_id,ref_id_type
770751,NPT963,Organism,Hepatitis B virus,10407,Hepatitis B virus,NaN,NPC167504,IC50,=,IC50,1300000.0,nM,Hepatitis B virus,10407,n.a.,n.a.,n.a.,547064,PMID
770752,NPT963,Organism,Hepatitis B virus,10407,Hepatitis B virus,NaN,NPC167504,IC50,=,IC50,1140000.0,nM,Hepatitis B virus,10407,n.a.,n.a.,n.a.,547064,PMID
770753,NPT963,Organism,Hepatitis B virus,10407,Hepatitis B virus,NaN,NPC167504,IC50,=,IC50,760000.0,nM,Hepatitis B virus,10407,n.a.,n.a.,n.a.,547064,PMID
809556,NPT2,Others,Unspecified,NaN,NaN,NaN,NPC167504,Others,=,Ratio CC50/IC50,1.4,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,547064,PMID
809557,NPT2,Others,Unspecified,NaN,NaN,NaN,NPC167504,Others,=,Ratio CC50/IC50,1.5,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,547064,PMID
809558,NPT2,Others,Unspecified,NaN,NaN,NaN,NPC167504,Others,=,Ratio CC50/IC50,2.3,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,547064,PMID
860204,NPT27,Others,Unspecified,NaN,NaN,NaN,NPC167504,Others,=,CC50,1760000.0,nM,Homo sapiens,9606,n.a.,n.a.,HepG2 2.2.15,547064,PMID

In [115]:
compound = pd.read_csv('datasets/npass/NPASS_compound_names.txt', sep='\t')
compound[compound['np_id'] == 'NPC167504']

,np_id,pref_name,iupac_name,chembl_id,pubchem_cid,num_of_organism,num_of_target,num_of_activity,if_has_Quantity
15998,NPC167504,Erythrocentaurin,"1-oxo-3,4-dihydroisochromene-5-carbaldehyde",CHEMBL3397161,191120,6.0,3.0,7.0,No

# Chembl Database

In [124]:
import chembl_downloader

sql = """
SELECT * FROM CHEMBL_ID_LOOKUP
"""

chembl_lookup = chembl_downloader.query(sql)

In [127]:
sql = """
SELECT * FROM COMPOUND_RECORDS
"""

compound_records = chembl_downloader.query(sql)

In [128]:
sql = """
SELECT * FROM TARGET_DICTIONARY
"""

target_records = chembl_downloader.query(sql)

In [129]:
sql = """
SELECT * FROM DOCS
"""

docs = chembl_downloader.query(sql)

In [121]:
path = chembl_downloader.download_extract_sqlite()
path

PosixPath('/Users/aymanehachcham/.data/chembl/34/data/chembl_34/chembl_34_sqlite/chembl_34.db')

In [134]:
chembl_lookup

            chembl_id entity_type  entity_id  status  last_active
0             CHEMBL1    COMPOUND     517180  ACTIVE         34.0
1            CHEMBL10    COMPOUND        250  ACTIVE         34.0
2           CHEMBL100    COMPOUND      12356  ACTIVE         34.0
3          CHEMBL1000    COMPOUND     111185  ACTIVE         34.0
4         CHEMBL10000    COMPOUND       7079  ACTIVE         34.0
...               ...         ...        ...     ...          ...
4640246  CHEMBL999995       ASSAY     551200  ACTIVE         34.0
4640247  CHEMBL999996       ASSAY     551201  ACTIVE         34.0
4640248  CHEMBL999997       ASSAY     551202  ACTIVE         34.0
4640249  CHEMBL999998       ASSAY     551203  ACTIVE         34.0
4640250  CHEMBL999999       ASSAY     551204  ACTIVE         34.0

[4640251 rows x 5 columns]

In [133]:
compound_records[compound_records['molregno'] == 1828878]

,record_id,molregno,doc_id,compound_key,compound_name,src_id,src_compound_id,cidx
1748790,2278959,1828878,91049,ET,erythrocentaurin,1,785798,CLD0

# CREATE the Database

In [2]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///datasets/data_model.db', echo=True)

In [136]:
# storing the dataframes into the database
species.to_sql('species', con=engine, if_exists='replace', index=False)
sources.to_sql('sources', con=engine, if_exists='replace', index=False)
usage.to_sql('usage', con=engine, if_exists='replace', index=False)
np_species.to_sql('np_species', con=engine, if_exists='replace', index=False)
np.to_sql('np', con=engine, if_exists='replace', index=False)
target.to_sql('target', con=engine, if_exists='replace', index=False)

2024-06-07 21:41:47,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:47,922 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("species")
2024-06-07 21:41:47,923 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,925 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("species")
2024-06-07 21:41:47,925 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,938 INFO sqlalchemy.engine.Engine
CREATE TABLE species (
	species_id BIGINT,
	name TEXT,
	common_names TEXT,
	family TEXT,
	family_apg TEXT
)


2024-06-07 21:41:47,938 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
2024-06-07 21:41:47,951 INFO sqlalchemy.engine.Engine INSERT INTO species (species_id, name, common_names, family, family_apg) VALUES (?, ?, ?, ?, ?)
2024-06-07 21:41:47,951 INFO sqlalchemy.engine.Engine [generated in 0.00669s] [(1, 'Abies amabilis (Dougl. ex Loud.) Dougl. ex Forbes', 'Pacific Silver Fir', 'Pinaceae', 'Pinaceae'), (2, 'Abies balsamea (L.) P. Mill.', 'Balsam Fir', 'Pinaceae', 'Pinaceae'), (3, 'Abies concolor (Gord. & Glend.) Lindl. ex Hildebr.', 'White Fir', 'Pinaceae', 'Pinaceae'), (4, 'Abies fraseri (Pursh) Poir.', "Fraser's Fir", 'Pinaceae', 'Pinaceae'), (5, 'Abies grandis (Dougl. ex D. Don) Lindl.', 'Grand Fir', 'Pinaceae', 'Pinaceae'), (6, 'Abies lasiocarpa (Hook.) Nutt.', 'Subalpine Fir', 'Pinaceae', 'Pinaceae'), (7, 'Abies procera Rehd.', 'Noble Fir', 'Pinaceae', 'Pinaceae'), (8, 'Abies sp.', 'Balsam Fir', 'Pinaceae', 'Pinaceae')  ... displaying 10 of 4260 total bound parameter sets ...  (4259, 'Ziziphus parryi Torr.', "Parry's Jujube", 'Rhamnaceae', 'Rhamnaceae'), (4260, 'Zostera marina L.', 'Seawrack', 'Zosteraceae', 'Zosteraceae')]
2024-06-07 21:41:47,956 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:47,958 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:47,959 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sources")
2024-06-07 21:41:47,960 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,960 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("sources")
2024-06-07 21:41:47,961 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,962 INFO sqlalchemy.engine.Engine
CREATE TABLE sources (
	source_id BIGINT,
	refcode TEXT,
	type TEXT,
	author TEXT,
	booktitle TEXT,
	comment TEXT,
	edition TEXT,
	editor TEXT,
	journal TEXT,
	month TEXT,
	note TEXT,
	number FLOAT,
	pages TEXT,
	publisher TEXT,
	title TEXT,
	url TEXT,
	volume TEXT,
	year BIGINT
)


2024-06-07 21:41:47,962 INFO sqlalchemy.engine.Engine [no key 0.00026s] ()
2024-06-07 21:41:47,965 INFO sqlalchemy.engine.Engine INSERT INTO sources (source_id, refcode, type, author, booktitle, comment, edition, editor, journal, month, note, number, pages, publisher, title, url, volume, year) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 21:41:47,966 INFO sqlalchemy.engine.Engine [generated in 0.00141s] [(1, 'hc75', 'book', 'Hamel, Paul B. and Mary U. Chiltoskey', None, None, None, None, None, None, None, None, None, 'Herald Publishing Co', 'Cherokee Plants and Their Uses -- A 400 Year History', None, None, 1975), (2, 'ws85', 'book', 'Weber, Steven A. and P. David Seaman', None, None, None, None, None, None, None, None, None, 'The University of Arizona Press', "Havasupai Habitat: A.F. Whiting's Ethnography of a Traditional Indian Culture", None, None, 1985), (3, 'g83', 'phdthesis', 'Gill, Steven J.', None, None, None, None, None, None, None, None, None, None, 'Ethnobotany of the Makah and Ozette People', None, None, 1983), (4, 'd28', 'article', 'Densmore, Frances', None, None, None, None, 'SI-BAE Annual Report', None, None, None, '273-379', None, 'Uses of Plants by the Chippewa Indians', None, '44', 1928), (5, 'r54', 'book', 'Romero, John Bruno', None, None, None, None, None, None, None, None, None, 'Vantage Press, Inc', 'The Botanical Lore of the California Indians', None, None, 1954), (6, 's15', 'article', 'Stevenson, Matilda Coxe', None, None, None, None, 'SI-BAE Annual Report', None, None, None, None, None, 'Ethnobotany of the Zuni Indians', None, '30', 1915), (7, 'h77', 'phdthesis', 'Herrick, James William', None, None, None, None, None, None, None, None, None, None, 'Iroquois Medical Botany', None, None, 1977), (8, 'r28', 'article', 'Reagan, Albert B.', None, None, None, None, 'Wisconsin Archeologist', None, None, 4.0, '230-248', None, 'Plants Used by the Bois Fort Chippewa (Ojibwa) Indians of Minnesota', None, '7', 1928)  ... displaying 10 of 206 total bound parameter sets ...  (205, 'p37', 'book', 'Porsild, A. E.', None, None, None, None, None, None, None, None, None, 'Canada Department of Mines and Resources, National Museum of Canada', 'Edible Roots and Berries of Northern Canada', None, None, 1937), (206, 'm40', 'article', 'Mandelbaum, David G.', None, None, None, None, 'Anthropological Papers of the American Museum of Natural History', None, None, None, '202-203', None, 'The Plains Cree', None, '37', 1940)]
2024-06-07 21:41:47,968 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:47,969 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:47,973 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usage")
2024-06-07 21:41:47,974 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,974 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("usage")
2024-06-07 21:41:47,975 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:47,975 INFO sqlalchemy.engine.Engine
CREATE TABLE usage (
	use_id BIGINT,
	species_id BIGINT,
	tribe_id BIGINT,
	source_id BIGINT,
	use_subcategory_id BIGINT,
	name TEXT
)


2024-06-07 21:41:47,975 INFO sqlalchemy.engine.Engine [no key 0.00023s] ()
2024-06-07 21:41:48,074 INFO sqlalchemy.engine.Engine INSERT INTO usage (use_id, species_id, tribe_id, source_id, use_subcategory_id, name) VALUES (?, ?, ?, ?, ?, ?)
2024-06-07 21:41:48,074 INFO sqlalchemy.engine.Engine [generated in 0.07254s] [(1, 1, 21, 53, 25, 'Eye Medicine'), (2, 1, 21, 53, 14, 'Gastrointestinal Aid'), (3, 1, 21, 53, 123, 'Throat Aid'), (4, 1, 21, 53, 49, 'Tuberculosis Remedy'), (5, 1, 86, 166, 69, 'Tonic'), (8, 1, 86, 14, 30, 'Ceremonial Items'), (9, 1, 87, 14, 51, 'Snow Gear'), (10, 1, 88, 14, 14, 'Gastrointestinal Aid')  ... displaying 10 of 41238 total bound parameter sets ...  (44689, 4260, 166, 101, 28, 'Hunting & Fishing Item'), (44691, 4260, 215, 23, 86, 'Spice')]
2024-06-07 21:41:48,105 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:48,112 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:48,136 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("np_species")
2024-06-07 21:41:48,136 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:48,137 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("np_species")
2024-06-07 21:41:48,137 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:48,138 INFO sqlalchemy.engine.Engine
CREATE TABLE np_species (
	org_id TEXT,
	org_name TEXT,
	org_tax_level TEXT,
	org_tax_id TEXT,
	subspecies_tax_id TEXT,
	subspecies_name TEXT,
	species_tax_id TEXT,
	species_name TEXT,
	genus_tax_id TEXT,
	genus_name TEXT,
	family_tax_id TEXT,
	family_name TEXT,
	kingdom_tax_id TEXT,
	kingdom_name TEXT,
	superkingdom_tax_id TEXT,
	superkingdom_name TEXT
)


2024-06-07 21:41:48,139 INFO sqlalchemy.engine.Engine [no key 0.00036s] ()
2024-06-07 21:41:48,266 INFO sqlalchemy.engine.Engine INSERT INTO np_species (org_id, org_name, org_tax_level, org_tax_id, subspecies_tax_id, subspecies_name, species_tax_id, species_name, genus_tax_id, genus_name, family_tax_id, family_name, kingdom_tax_id, kingdom_name, superkingdom_tax_id, superkingdom_name) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 21:41:48,266 INFO sqlalchemy.engine.Engine [generated in 0.09395s] [('NPO10475', 'Falkenbergia rufolanosa', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.'), ('NPO2250', 'Hylocomium splendens', 'Species', '53007', 'n.a.', 'n.a.', '53007', 'Hylocomium splendens', '53006', 'Hylocomium', '28466', 'Hylocomiaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota'), ('NPO21185', 'Manica rubida', 'Species', '219785', 'n.a.', 'n.a.', '219785', 'Manica rubida', '219784', 'Manica', '36668', 'Formicidae', '33208', 'Metazoa', '2759', 'Eukaryota'), ('NPO13272', 'Ulva lactuca', 'Species', '63410', 'n.a.', 'n.a.', '63410', 'Ulva lactuca', '3118', 'Ulva', '3114', 'Ulvaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota'), ('NPO9728', 'Quercus acuta', 'Species', '157796', 'n.a.', 'n.a.', '157796', 'Quercus acuta', '3511', 'Quercus', '3503', 'Fagaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota'), ('NPO24443', 'Artemisia baldshuanica', 'Species', '1287601', 'n.a.', 'n.a.', '1287601', 'Artemisia baldshuanica', '4219', 'Artemisia', '4210', 'Asteraceae', '33090', 'Viridiplantae', '2759', 'Eukaryota'), ('NPO32957', 'Acanthodendrilla sp.', 'Species', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', '558782', 'Acanthodendrilla', '283990', 'Dictyodendrillidae', '33208', 'Metazoa', '2759', 'Eukaryota'), ('NPO24350', 'Hammarbya paludosa', 'Species', '1155243', 'n.a.', 'n.a.', '1155243', 'Hammarbya paludosa', '1155242', 'Hammarbya', '4747', 'Orchidaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota')  ... displaying 10 of 25898 total bound parameter sets ...  ('NPO8723', 'Ophiostoma piliferum', 'Species', '38032', 'n.a.', 'n.a.', '38032', 'Ophiostoma piliferum', '5159', 'Ophiostoma', '5152', 'Ophiostomataceae', '4751', 'Fungi', '2759', 'Eukaryota'), ('NPO21631', 'Faramea salicifolia', 'Species', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'n.a.', '58420', 'Faramea', '24966', 'Rubiaceae', '33090', 'Viridiplantae', '2759', 'Eukaryota')]
2024-06-07 21:41:48,319 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:48,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:48,723 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("np")
2024-06-07 21:41:48,724 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:48,725 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("np")
2024-06-07 21:41:48,726 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:48,727 INFO sqlalchemy.engine.Engine
CREATE TABLE np (
	src_org_pair TEXT,
	org_id TEXT,
	np_id TEXT,
	new_cp_found TEXT,
	org_isolation_part TEXT,
	org_collect_location TEXT,
	org_collect_time TEXT,
	ref_type TEXT,
	ref_id TEXT,
	ref_id_type TEXT,
	ref_url TEXT
)


2024-06-07 21:41:48,727 INFO sqlalchemy.engine.Engine [no key 0.00026s] ()
2024-06-07 21:41:52,948 INFO sqlalchemy.engine.Engine INSERT INTO np (src_org_pair, org_id, np_id, new_cp_found, org_isolation_part, org_collect_location, org_collect_time, ref_type, ref_id, ref_id_type, ref_url) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 21:41:52,949 INFO sqlalchemy.engine.Engine [generated in 3.26638s] [('NPO27288-NPC251357', 'NPO27288', 'NPC251357', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'TM-MC', 'Database', 'n.a.'), ('NPO8589-NPC116013', 'NPO8589', 'NPC116013', 'N', 'n.a.', 'Tsukuba, Japan', '1998-JUN', 'Publication', '12381108', 'PMID', 'https://pubmed.ncbi.nlm.nih.gov/12381108'), ('NPO14625-NPC39', 'NPO14625', 'NPC39', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.'), ('NPO16590-NPC190457', 'NPO16590', 'NPC190457', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.'), ('NPO6861-NPC13143', 'NPO6861', 'NPC13143', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.'), ('NPO24757-NPC473714', 'NPO24757', 'NPC473714', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Publication', '18442289', 'PMID', 'https://pubmed.ncbi.nlm.nih.gov/18442289'), ('NPO9576-NPC254190', 'NPO9576', 'NPC254190', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.'), ('NPO22028-NPC242417', 'NPO22028', 'NPC242417', 'n.a.', 'n.a.', 'n.a.', 'n.a.', 'Database', 'UNPD', 'Database', 'n.a.')  ... displaying 10 of 898576 total bound parameter sets ...  ('NPO7576.2-NPC301950', 'NPO7576.2', 'NPC301950', 'No', 'n.a.', 'n.a.', 'n.a.', 'Publication', '18460139', 'PMID', 'https://pubmed.ncbi.nlm.nih.gov/18460139'), ('NPO7576.2-NPC50898', 'NPO7576.2', 'NPC50898', 'No', 'n.a.', 'n.a.', 'n.a.', 'Publication', '18460139', 'PMID', 'https://pubmed.ncbi.nlm.nih.gov/18460139')]
2024-06-07 21:41:54,659 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 21:41:54,673 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 21:41:54,852 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("target")
2024-06-07 21:41:54,852 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:54,853 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("target")
2024-06-07 21:41:54,853 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 21:41:54,854 INFO sqlalchemy.engine.Engine
CREATE TABLE target (
	target_id TEXT,
	target_type TEXT,
	target_name TEXT,
	target_organism_tax_id TEXT,
	target_organism TEXT,
	uniprot_id TEXT,
	np_id TEXT,
	activity_type_grouped TEXT,
	activity_relation TEXT,
	activity_type TEXT,
	activity_value FLOAT,
	activity_units TEXT,
	assay_organism TEXT,
	assay_tax_id TEXT,
	assay_strain TEXT,
	assay_tissue TEXT,
	assay_cell_type TEXT,
	ref_id TEXT,
	ref_id_type TEXT
)


2024-06-07 21:41:54,855 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2024-06-07 21:42:01,110 INFO sqlalchemy.engine.Engine INSERT INTO target (target_id, target_type, target_name, target_organism_tax_id, target_organism, uniprot_id, np_id, activity_type_grouped, activity_relation, activity_type, activity_value, activity_units, assay_organism, assay_tax_id, assay_strain, assay_tissue, assay_cell_type, ref_id, ref_id_type) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 21:42:01,111 INFO sqlalchemy.engine.Engine [generated in 4.92934s] [('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC170286', 'IC50', '=', 'IC50', 1.2, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 448657, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC277288', 'IC50', '=', 'IC50', 16.48, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 453277, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC243728', 'IC50', '>', 'IC50', 20.0, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 453516, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC192744', 'IC50', '=', 'IC50', 14.47, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 453792, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC267691', 'IC50', '=', 'IC50', 18.04, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 454286, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC246913', 'IC50', '=', 'IC50', 20.0, 'ug.mL-1', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 456132, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC75844', 'Others', '=', 'CC50', 262000.0, 'nM', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 458080, 'PMID'), ('NPT1031', 'Cell Line', 'Ca9-22', '9606', 'Homo sapiens', None, 'NPC272223', 'IC50', '=', 'IC50', 11000.0, 'nM', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'Ca9-22', 458270, 'PMID')  ... displaying 10 of 965367 total bound parameter sets ...  ('NPT28315', 'ORGANISM', 'Candida auris', '498019', 'Candida auris', 'n.a.', 'NPC331129', 'MIC', '>', 'MIC', 0.064, 'ug.mL-1', 'Candida auris', '498019', 'CBS 12766', 'n.a.', 'n.a.', '33335669', 'PMID'), ('NPT28317', 'SINGLE PROTEIN', 'ATP-dependent Clp protease ATP-binding subunit clpX-like, mitochondrial', '9606', 'Homo sapiens', 'O76031', 'NPC20302', 'IC50', '=', 'IC50', 9500.0, 'nM', 'Homo sapiens', '9606', 'n.a.', 'n.a.', 'n.a.', '575308', 'PMID')]
2024-06-07 21:42:03,577 INFO sqlalchemy.engine.Engine COMMIT

965367

In [140]:
compound.to_sql('compound', con=engine, if_exists='replace', index=False)
chembl_lookup.to_sql('chembl_lookup', con=engine, if_exists='replace', index=False)
compound_records.to_sql('compound_records', con=engine, if_exists='replace', index=False)
target_records.to_sql('target_records', con=engine, if_exists='replace', index=False)
docs.to_sql('docs', con=engine, if_exists='replace', index=False)

2024-06-07 23:17:58,320 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 23:17:58,401 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("compound")
2024-06-07 23:17:58,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:17:58,403 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("compound")
2024-06-07 23:17:58,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:17:58,405 INFO sqlalchemy.engine.Engine
CREATE TABLE compound (
	np_id TEXT,
	pref_name TEXT,
	iupac_name TEXT,
	chembl_id TEXT,
	pubchem_cid TEXT,
	num_of_organism FLOAT,
	num_of_target FLOAT,
	num_of_activity FLOAT,
	"if_has_Quantity" TEXT
)


2024-06-07 23:17:58,406 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
2024-06-07 23:17:58,898 INFO sqlalchemy.engine.Engine INSERT INTO compound (np_id, pref_name, iupac_name, chembl_id, pubchem_cid, num_of_organism, num_of_target, num_of_activity, "if_has_Quantity") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 23:17:58,899 INFO sqlalchemy.engine.Engine [generated in 0.38787s] [('NPC100002', 'Dibromomethane', 'dibromomethane', 'CHEMBL1229889', '3024', 4.0, 1.0, 3.0, 'No'), ('NPC100005', 'MXFUWJQZQGWIOY-FETLVNPKSA-N', 'n.a.', 'n.a.', '101412375', 7.0, 0.0, 0.0, 'No'), ('NPC100008', 'WPYIYVXSMXASQL-PEBLQZBPSA-N', 'n.a.', 'n.a.', '14583329', 16.0, 0.0, 0.0, 'No'), ('NPC10001', 'LTNUWWZNTOSEML-SNLNFDIBSA-N', 'n.a.', 'n.a.', 'n.a.', 1.0, 4.0, 4.0, 'No'), ('NPC100016', 'KKFCJNGKHYRAPZ-MPCIYCNASA-N', 'n.a.', 'n.a.', 'n.a.', 13.0, 0.0, 0.0, 'No'), ('NPC100017', 'Yuanhuadine', 'n.a.', 'CHEMBL1911631', '6440572', 1.0, 26.0, 57.0, 'No'), ('NPC100020', 'LDNLPQJLCPARJX-SANMLTNESA-N', 'n.a.', 'n.a.', 'n.a.', 9.0, 0.0, 0.0, 'No'), ('NPC100031', 'YPRVNVFJGQUFKN-QFQUXZBZSA-O', 'n.a.', 'n.a.', '10897548', 1.0, 0.0, 0.0, 'No')  ... displaying 10 of 96420 total bound parameter sets ...  ('NPC99991', 'OBNQCTKSFBMUDQ-UQOODKLHSA-N', 'n.a.', 'n.a.', 'n.a.', 3.0, 0.0, 0.0, 'No'), ('NPC99998', 'UYLHQHLKCSJVJP-WGSLJMJZSA-N', 'n.a.', 'n.a.', 'n.a.', 19.0, 0.0, 0.0, 'No')]
2024-06-07 23:17:59,020 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 23:17:59,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 23:17:59,483 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("chembl_lookup")
2024-06-07 23:17:59,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:17:59,484 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("chembl_lookup")
2024-06-07 23:17:59,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:17:59,485 INFO sqlalchemy.engine.Engine
CREATE TABLE chembl_lookup (
	chembl_id TEXT,
	entity_type TEXT,
	entity_id BIGINT,
	status TEXT,
	last_active FLOAT
)


2024-06-07 23:17:59,485 INFO sqlalchemy.engine.Engine [no key 0.00033s] ()
2024-06-07 23:18:12,104 INFO sqlalchemy.engine.Engine INSERT INTO chembl_lookup (chembl_id, entity_type, entity_id, status, last_active) VALUES (?, ?, ?, ?, ?)
2024-06-07 23:18:12,106 INFO sqlalchemy.engine.Engine [generated in 10.31633s] [('CHEMBL1', 'COMPOUND', 517180, 'ACTIVE', 34.0), ('CHEMBL10', 'COMPOUND', 250, 'ACTIVE', 34.0), ('CHEMBL100', 'COMPOUND', 12356, 'ACTIVE', 34.0), ('CHEMBL1000', 'COMPOUND', 111185, 'ACTIVE', 34.0), ('CHEMBL10000', 'COMPOUND', 7079, 'ACTIVE', 34.0), ('CHEMBL100000', 'COMPOUND', 166734, 'INACTIVE', None), ('CHEMBL1000000', 'ASSAY', 551205, 'ACTIVE', 34.0), ('CHEMBL1000001', 'ASSAY', 551206, 'ACTIVE', 34.0)  ... displaying 10 of 4640251 total bound parameter sets ...  ('CHEMBL999998', 'ASSAY', 551203, 'ACTIVE', 34.0), ('CHEMBL999999', 'ASSAY', 551204, 'ACTIVE', 34.0)]
2024-06-07 23:18:17,826 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 23:18:17,835 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 23:18:18,231 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("compound_records")
2024-06-07 23:18:18,232 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:18:18,232 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("compound_records")
2024-06-07 23:18:18,233 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:18:18,234 INFO sqlalchemy.engine.Engine
CREATE TABLE compound_records (
	record_id BIGINT,
	molregno BIGINT,
	doc_id BIGINT,
	compound_key TEXT,
	compound_name TEXT,
	src_id BIGINT,
	src_compound_id TEXT,
	cidx TEXT
)


2024-06-07 23:18:18,234 INFO sqlalchemy.engine.Engine [no key 0.00035s] ()
2024-06-07 23:18:28,439 INFO sqlalchemy.engine.Engine INSERT INTO compound_records (record_id, molregno, doc_id, compound_key, compound_name, src_id, src_compound_id, cidx) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 23:18:28,441 INFO sqlalchemy.engine.Engine [generated in 8.35386s] [(1, 1798298, 11788, 'X', 'Bis(3-[14-Benzyl-11-(1H-indol-3-ylmethyl)-2-isobutyl-13-methyl-5-(2-methylsulfanyl-ethyl)-3,6,9,12,15,20-hexaoxo-1,4,7,10,13,16-hexaaza-bicyclo[15.2.1]icos-18-en-8-yl]-propionamide)', 1, None, 'CLD0'), (2, 1798410, 11788, 'V', '3-[11,14-Dibenzyl-2-isobutyl-5-(2-methylsulfanyl-ethyl)-3,6,9,12,15,20-hexaoxo-1,4,7,10,13,16-hexaaza-bicyclo[15.2.1]icos-18-en-8-yl]-propionamide', 1, None, 'CLD0'), (3, 1798299, 11788, 'IX', '3-[14-Benzyl-11-(1H-indol-3-ylmethyl)-2-isobutyl-13-methyl-5-(2-methylsulfanyl-ethyl)-3,6,9,12,15,20-hexaoxo-1,4,7,10,13,16-hexaaza-bicyclo[15.2.1]icos-18-en-8-yl]-propionamide', 1, None, 'CLD0'), (4, 1798271, 11788, 'IV', '11,14-Dibenzyl-2-isobutyl-8-methyl-5-(2-methylsulfanyl-ethyl)-1,4,7,10,13,16-hexaaza-bicyclo[15.2.1]icos-18-ene-3,6,9,12,15,20-hexaone', 1, None, 'CLD0'), (5, 1798623, 11788, 'XVI', '3-[17-Benzyl-14-(1H-indol-3-ylmethyl)-2-isobutyl-5-(2-methylsulfanyl-ethyl)-3,6,9,12,15,18,23-heptaoxo-1,4,7,10,13,16,19-heptaaza-bicyclo[18.2.1]tricos-21-en-11-yl]-propionamide', 1, None, 'CLD0'), (6, 1798230, 11788, 'XIX', '3-[5-Benzyl-8-(1H-indol-3-ylmethyl)-17-isobutyl-14-(2-methylsulfanyl-ethyl)-4,7,10,13,16,19-hexaoxo-octadecahydro-3a,6,9,12,15,18-hexaaza-cyclopentacyclooctadecen-11-yl]-propionamide', 1, None, 'CLD0'), (7, 1798624, 11788, 'III', '11,14-Dibenzyl-2-isobutyl-5-(2-methylsulfanyl-ethyl)-1,4,7,10,13,16-hexaaza-bicyclo[15.2.1]icos-18-ene-3,6,9,12,15,20-hexaone', 1, None, 'CLD0'), (8, 1798627, 11788, 'VII', '14-Benzyl-2-isobutyl-11-methyl-5-(2-methylsulfanyl-ethyl)-11-naphthalen-1-yl-1,4,7,10,13,16-hexaaza-bicyclo[15.2.1]icos-18-ene-3,6,9,12,15,20-hexaone', 1, None, 'CLD0')  ... displaying 10 of 3106257 total bound parameter sets ...  (3956848, 2832783, -1, 'TAFLUPROST ACID', 'TAFLUPROST ACID', 53, '25707', '25707'), (3956849, 2832784, -1, 'U-76074', 'U-76074', 53, '25709', '25709')]
2024-06-07 23:18:34,151 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 23:18:34,163 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 23:18:34,170 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("target_records")
2024-06-07 23:18:34,171 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:18:34,171 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("target_records")
2024-06-07 23:18:34,172 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:18:34,173 INFO sqlalchemy.engine.Engine
CREATE TABLE target_records (
	tid BIGINT,
	target_type TEXT,
	pref_name TEXT,
	tax_id FLOAT,
	organism TEXT,
	chembl_id TEXT,
	species_group_flag BIGINT
)


2024-06-07 23:18:34,173 INFO sqlalchemy.engine.Engine [no key 0.00028s] ()
2024-06-07 23:18:34,212 INFO sqlalchemy.engine.Engine INSERT INTO target_records (tid, target_type, pref_name, tax_id, organism, chembl_id, species_group_flag) VALUES (?, ?, ?, ?, ?, ?, ?)
2024-06-07 23:18:34,213 INFO sqlalchemy.engine.Engine [generated in 0.02718s] [(1, 'SINGLE PROTEIN', 'Maltase-glucoamylase', 9606.0, 'Homo sapiens', 'CHEMBL2074', 0), (2, 'SINGLE PROTEIN', 'Sulfonylurea receptor 2', 9606.0, 'Homo sapiens', 'CHEMBL1971', 0), (3, 'SINGLE PROTEIN', 'Phosphodiesterase 5A', 9606.0, 'Homo sapiens', 'CHEMBL1827', 0), (4, 'SINGLE PROTEIN', 'Voltage-gated T-type calcium channel alpha-1H subunit', 9606.0, 'Homo sapiens', 'CHEMBL1859', 0), (5, 'SINGLE PROTEIN', 'Nicotinic acetylcholine receptor alpha subunit', 6253.0, 'Ascaris suum', 'CHEMBL1884', 0), (6, 'SINGLE PROTEIN', 'Dihydrofolate reductase', 9606.0, 'Homo sapiens', 'CHEMBL202', 0), (7, 'SINGLE PROTEIN', 'Dihydrofolate reductase', 562.0, 'Escherichia coli', 'CHEMBL1809', 0), (8, 'SINGLE PROTEIN', 'Tyrosine-protein kinase ABL', 9606.0, 'Homo sapiens', 'CHEMBL1862', 0)  ... displaying 10 of 15598 total bound parameter sets ...  (121167, 'CELL-LINE', 'Peritoneal macrophage', 10116.0, 'Rattus norvegicus', 'CHEMBL5314331', 0), (121168, 'CELL-LINE', 'T cell', 9544.0, 'Macaca mulatta', 'CHEMBL5314332', 0)]
2024-06-07 23:18:34,234 INFO sqlalchemy.engine.Engine COMMIT
2024-06-07 23:18:34,236 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-07 23:18:34,398 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("docs")
2024-06-07 23:18:34,398 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:18:34,399 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("docs")
2024-06-07 23:18:34,399 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-07 23:18:34,400 INFO sqlalchemy.engine.Engine
CREATE TABLE docs (
	doc_id BIGINT,
	journal TEXT,
	year FLOAT,
	volume TEXT,
	issue TEXT,
	first_page TEXT,
	last_page TEXT,
	pubmed_id FLOAT,
	doi TEXT,
	chembl_id TEXT,
	title TEXT,
	doc_type TEXT,
	authors TEXT,
	abstract TEXT,
	patent_id TEXT,
	ridx TEXT,
	src_id BIGINT,
	chembl_release_id BIGINT,
	contact TEXT
)


2024-06-07 23:18:34,400 INFO sqlalchemy.engine.Engine [no key 0.00023s] ()
2024-06-07 23:18:34,886 INFO sqlalchemy.engine.Engine INSERT INTO docs (doc_id, journal, year, volume, issue, first_page, last_page, pubmed_id, doi, chembl_id, title, doc_type, authors, abstract, patent_id, ridx, src_id, chembl_release_id, contact) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-06-07 23:18:34,886 INFO sqlalchemy.engine.Engine [generated in 0.35392s] [(-1, None, None, None, None, None, None, None, None, 'CHEMBL1158643', 'Unpublished dataset', 'DATASET', None, None, None, 'CLD0', 0, 7, None), (1, 'J Med Chem', 2004.0, '47', '1', '1', '9', 14695813.0, '10.1021/jm030283g', 'CHEMBL1139451', 'The discovery of ezetimibe: a view from outside the receptor.', 'PUBLICATION', 'Clader JW.', None, None, 'CLD0', 1, 1, None), (2, 'J Med Chem', 2004.0, '47', '1', '10', '13', 14695814.0, '10.1021/jm034189b', 'CHEMBL1148466', 'Self-association of okadaic acid upon complexation with potassium ion.', 'PUBLICATION', 'Daranas AH, Fernández JJ, Morales EQ, Norte M, Gavín JA.', 'Okadaic acid (OA) is a toxin responsible for diarrhetic shellfish poisoning and is an extremely useful tool for studying processes that are regulated ... (139 characters truncated) ... an unusual dimeric form when complexed with potassium ion. The proposed structure of this dimer is based on spectroscopic and conformational studies.', None, 'CLD0', 1, 1, None), (3, 'J Med Chem', 2004.0, '47', '1', '101', '109', 14695824.0, '10.1021/jm030287l', 'CHEMBL1139452', 'Synthesis and structure-activity relationships of 5,6,7,8-tetrahydro-4H-thieno[3,2-b]azepine derivatives: novel arginine vasopressin antagonists.', 'PUBLICATION', 'Cho H, Murakami K, Nakanishi H, Fujisawa A, Isoshima H, Niwa M, Hayakawa K, Hase Y, Uchida I, Watanabe H, Wakitani K, Aisaka K.', 'A variety of novel heterocyclic compounds having thienoazepine, pyrroloazepine, furoazepine, and thienodiazepine skeletons were synthesized, most of  ... (560 characters truncated) ...  properties, the hydrochloride 2 (JTV-605) of compound 1 was selected for clinical studies as a potent AVP antagonist with a long duration of action.', None, 'CLD0', 1, 1, None), (4, 'J Med Chem', 2004.0, '47', '1', '110', '122', 14695825.0, '10.1021/jm030933g', 'CHEMBL1139453', 'Potent inhibitors of the Plasmodium falciparum enzymes plasmepsin I and II devoid of cathepsin D inhibitory activity.', 'PUBLICATION', 'Ersmark K, Feierberg I, Bjelic S, Hamelink E, Hackett F, Blackman MJ, Hultén J, Samuelsson B, Aqvist J, Hallberg A.', "The hemoglobin-degrading aspartic proteases plasmepsin I (Plm I) and plasmepsin II (Plm II) of the malaria parasite Plasmodium falciparum have lately ... (837 characters truncated) ... nowledge, these plasmepsin inhibitors represent the most selective reported to date and constitute promising lead compounds for further optimization.", None, 'CLD0', 1, 1, None), (5, 'J Med Chem', 2004.0, '47', '1', '123', '132', 14695826.0, '10.1021/jm0303002', 'CHEMBL1139454', 'NMR structural characterization of peptide inhibitors bound to the Hepatitis C virus NS3 protease: design of a new P2 substituent.', 'PUBLICATION', 'Goudreau N, Cameron DR, Bonneau P, Gorys V, Plouffe C, Poirier M, Lamarre D, Llinas-Brunet M.', 'A comparative NMR conformational analysis of three distinct tetrapeptide inhibitors of the Hepatitis C NS3 protease that differ at the 4-aryloxy-subs ... (783 characters truncated) ... residue of the substrates and/or inhibitors and further elucidates the subtle details of the binding of the P2 residue of substrate-based inhibitors.', None, 'CLD0', 1, 1, None), (6, 'J Med Chem', 2004.0, '47', '1', '133', '142', 14695827.0, '10.1021/jm030351z', 'CHEMBL1139455', 'Three-dimensional quantitative structure-activity relationship modeling of cocaine binding by a novel human monoclonal antibody.', 'PUBLICATION', 'Paula S, Tabet MR, Farr CD, Norman AB, Ball WJ.', 'Human monoclonal antibodies (mAbs) designed for immunotherapy have a high potential for avoiding the complications that may result from human immune  ... (1494 characters truncated) ... . Overall, the cocaine binding properties of mAb 2E2 support its clinical potential for development as a treatment of cocaine overdose and addiction.', None, 'CLD0', 1, 1, None), (7, 'J Med Chem', 2004.0, '47', '1', '14', '17', 14695815.0, '10.1021/jm0342109', 'CHEMBL1139456', 'Discovery of alpha,gamma-diketo acids as potent selective and reversible inhibitors of hepatitis C virus NS5b RNA-dependent RNA polymerase.', 'PUBLICATION', 'Summa V, Petrocchi A, Pace P, Matassa VG, De Francesco R, Altamura S, Tomei L, Koch U, Neuner P.', 'alpha,gamma-Diketo acids (DKA) were discovered from screening as selective and reversible inhibitors of hepatitis C virus NS5b RNA-dependent RNA poly ... (158 characters truncated) ...  led to the identification of a DKA inhibitor of NS5b polymerase with IC(50) = 45 nM, one of the most potent HCV NS5b polymerase inhibitors reported.', None, 'CLD0', 1, 1, None)  ... displaying 10 of 89892 total bound parameter sets ...  (126246, None, 2023.0, None, None, None, None, None, '10.6019/CHEMBL5308504', 'CHEMBL5308504', 'Tm Shift (DSF) assay results for EUbOPEN Chemogenomics Library', 'DATASET', 'EUbOPEN', 'DSF assay results for EUbOPEN Chemogenomics Library: Differential Scanning Fluorimetry (DSF) measures protein unfolding by monitory changes in fluorescence as a function of temperature (dTm values). Conventional DSF uses a hydrophobic fluorescent dye that binds to proteins as they unfold.', None, 'EUbOPEN Chemogenomics Library - DSF', 55, 34, None), (126266, 'ACS Med Chem Lett', 2023.0, '14', '12', '1733', '1741', 38116432.0, '10.1021/acsmedchemlett.3c00369', 'CHEMBL5308541', 'MAIP: An Open-Source Tool to Enrich High-Throughput Screening Output and Identify Novel, Druglike Molecules with Antimalarial Activity.', 'PUBLICATION', 'Bosc N, Felix E, Gardner JMF, Mills J, Timmerman M, Asveld D, Rensen K, Mukherjee P, Das R, Chenu E, Besson D, Burrows JN, Duffy J, Laleu B, Guantai EM, Leach AR.', 'Efforts to tackle malaria must continue for a disease that threatens half of the global population. Parasite resistance to current therapies requires ... (828 characters truncated) ... of molecules, and the eight hits we ultimately selected exhibit good potency and absorption, distribution, metabolism, and excretion (ADME) profiles.', None, 'MMV_CQL', 60, 34, None)]
2024-06-07 23:18:35,336 INFO sqlalchemy.engine.Engine COMMIT

89892

In [160]:
# Query the database

# SQL query to select name from usage table join with species table on species_id
sql = """
SELECT derived_usage.name, derived_usage.species_name, nps.org_id
FROM (
    SELECT u.name, s.name as species_name
    FROM usage u
    JOIN species s
    ON u.species_id = s.species_id
    where u.name = 'Analgesic'
) as derived_usage
JOIN np_species nps 
ON derived_usage.species_name = nps.species_name
"""

pd.read_sql(sql, con=engine)

2024-06-09 14:00:39,851 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-09 14:00:39,853 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
SELECT derived_usage.name, derived_usage.species_name, nps.org_id
FROM (
    SELECT u.name, s.name as species_name
    FROM usage u
    JOIN species s
    ON u.species_id = s.species_id
    where u.name = 'Analgesic'
) as derived_usage
JOIN np_species nps
ON derived_usage.species_name = nps.species_name
")
2024-06-09 14:00:39,853 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-09 14:00:39,855 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
SELECT derived_usage.name, derived_usage.species_name, nps.org_id
FROM (
    SELECT u.name, s.name as species_name
    FROM usage u
    JOIN species s
    ON u.species_id = s.species_id
    where u.name = 'Analgesic'
) as derived_usage
JOIN np_species nps
ON derived_usage.species_name = nps.species_name
")
2024-06-09 14:00:39,855 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-09 14:00:39,856 INFO sqlalchemy.engine.Engine
SELECT derived_usage.name, derived_usage.species_name, nps.org_id
FROM (
    SELECT u.name, s.name as species_name
    FROM usage u
    JOIN species s
    ON u.species_id = s.species_id
    where u.name = 'Analgesic'
) as derived_usage
JOIN np_species nps
ON derived_usage.species_name = nps.species_name

2024-06-09 14:00:39,856 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-09 14:00:39,901 INFO sqlalchemy.engine.Engine ROLLBACK

          name                   species_name    org_id
0    Analgesic                 Abies balsamea   NPO6316
1    Analgesic                 Abies balsamea   NPO6316
2    Analgesic               Abies lasiocarpa  NPO22435
3    Analgesic  Acamptopappus sphaerocephalus   NPO7900
4    Analgesic                    Acer rubrum  NPO28946
..         ...                            ...       ...
746  Analgesic         Zanthoxylum americanum  NPO29030
747  Analgesic         Zanthoxylum americanum  NPO29030
748  Analgesic                       Zea mays  NPO15810
749  Analgesic              Zingiber zerumbet  NPO27791
750  Analgesic             Zinnia grandiflora  NPO40405

[751 rows x 3 columns]

In [157]:
species.to_sql('species', con=engine, if_exists='replace', index=False)

2024-06-09 13:59:26,388 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-09 13:59:26,396 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("species")
2024-06-09 13:59:26,396 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-09 13:59:26,398 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("species")
2024-06-09 13:59:26,398 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-09 13:59:26,399 INFO sqlalchemy.engine.Engine
CREATE TABLE species (
	species_id BIGINT,
	name TEXT,
	common_names TEXT,
	family TEXT,
	family_apg TEXT
)


2024-06-09 13:59:26,400 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2024-06-09 13:59:26,444 INFO sqlalchemy.engine.Engine INSERT INTO species (species_id, name, common_names, family, family_apg) VALUES (?, ?, ?, ?, ?)
2024-06-09 13:59:26,445 INFO sqlalchemy.engine.Engine [generated in 0.02191s] [(1, 'Abies amabilis', 'Pacific Silver Fir', 'Pinaceae', 'Pinaceae'), (2, 'Abies balsamea', 'Balsam Fir', 'Pinaceae', 'Pinaceae'), (3, 'Abies concolor', 'White Fir', 'Pinaceae', 'Pinaceae'), (4, 'Abies fraseri', "Fraser's Fir", 'Pinaceae', 'Pinaceae'), (5, 'Abies grandis', 'Grand Fir', 'Pinaceae', 'Pinaceae'), (6, 'Abies lasiocarpa', 'Subalpine Fir', 'Pinaceae', 'Pinaceae'), (7, 'Abies procera', 'Noble Fir', 'Pinaceae', 'Pinaceae'), (8, 'Abies sp.', 'Balsam Fir', 'Pinaceae', 'Pinaceae')  ... displaying 10 of 4260 total bound parameter sets ...  (4259, 'Ziziphus parryi', "Parry's Jujube", 'Rhamnaceae', 'Rhamnaceae'), (4260, 'Zostera marina', 'Seawrack', 'Zosteraceae', 'Zosteraceae')]
2024-06-09 13:59:26,450 INFO sqlalchemy.engine.Engine COMMIT

4260

In [4]:
# select all exitent tables in the database
sql = """
SELECT * FROM species;
"""
pd.read_sql(sql, con=engine)

2024-06-09 22:14:35,887 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-09 22:14:35,898 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
SELECT * FROM species;
")
2024-06-09 22:14:35,902 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-09 22:14:35,904 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
SELECT * FROM species;
")
2024-06-09 22:14:35,904 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-09 22:14:35,905 INFO sqlalchemy.engine.Engine
SELECT * FROM species;

2024-06-09 22:14:35,906 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-09 22:14:35,919 INFO sqlalchemy.engine.Engine ROLLBACK

,species_id,name,common_names,family,family_apg
0,1,Abies amabilis,Pacific Silver Fir,Pinaceae,Pinaceae
1,2,Abies balsamea,Balsam Fir,Pinaceae,Pinaceae
2,3,Abies concolor,White Fir,Pinaceae,Pinaceae
3,4,Abies fraseri,Fraser's Fir,Pinaceae,Pinaceae
4,5,Abies grandis,Grand Fir,Pinaceae,Pinaceae
...,...,...,...,...,...
4255,4256,Zizia aurea,Golden Zizia,Apiaceae,Apiaceae
4256,4257,Ziziphus obtusifolia,Lotebush,Rhamnaceae,Rhamnaceae
4257,4258,Ziziphus obtusifolia,Lotebush,Rhamnaceae,Rhamnaceae
4258,4259,Ziziphus parryi,Parry's Jujube,Rhamnaceae,Rhamnaceae
4259,4260,Zostera marina,Seawrack,Zosteraceae,Zosteraceae

In [ ]:
import os
import pandas as pd
from pandasai import Agent



# Sample DataFrame

species = pd.read_sql(
    """
    SELECT * FROM species;
    """,
    con=engine
)
usage = pd.read_sql(
    """
    SELECT * FROM usage;
    """,
    con=engine
)
# By default, unless you choose a different LLM, it will use BambooLLM.
# You can get your free API key signing up at https://pandabi.ai (you can also configure it in your .env file)
os.environ["PANDASAI_API_KEY"] = "YOUR_API_KEY"

agent = Agent(sales_by_country)
agent.chat('Which are the top 5 countries by sales?')